<div class="upload-listing">
<br/>
<br/>
<br/>
<h1>Edit Account Profile</h1>
<br/>
<br/>
<form action="/update_profile" method="POST">
   <div class="row" id="aisle">
         <div class="col-6">
            <label for="first_name">First name </label>
            <input type="text" class="form-control" placeholder="<%= current_user.first_name%>" name="first_name">
         </div>
        <br/>
        <div class="col-6">
           <label for="last_name">Last name </label>
           <input type="text" class="form-control" placeholder="<%= current_user.last_name%>" name="last_name">
        </div>
      <br/>
      <br/>
        <div class="col-6">
            <label for="listingDescription">Skills</label>
            <input type="text" class="form-control" placeholder="<%= current_user.skills%>" name="skills">
        </div>
        <br/>
     </div>
     <br/>
     <div class="row" id="aisle">
     <div class="col-6">
         <label for="listingDescription">Preferred Location (optional)</label>
         <input type="text" class="form-control" placeholder="<%= current_user.preferred_location%>" name="preferred_location">
    </div>
    </div>
    <br/>
     <p>E-mail: <%= current_user.email %></p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
