<div class="jumbotron">
   <br/>
   <br/>
     <% if current_user %>
     <br/>
     <br/>
     <br/>
     <br/>
     <h1 class="animated slideInDown"> Welcome <%= current_user.full_name %> </h1>
     <p>Find dozens of internships tailored just for you.</p>
     <br/>
     <br/>
     <br/>
    <% else %>
      <br/>
      <br/>
      <h1><strong>The easiest way to find an internship. </strong></h1>
      <p>Built by software engineering students, for software engineering students. </p>
      <br/>
    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
      <br/>
      <br/>
    </div>
   <% end %>
  </div>
</div>

<div class="listings">
   <br/>
   <br/>
   <% i = 0 %>  <!-- variable for looping through internships 10 times (FREE USERS) -->

   <% @lastings.each do |j| %>
      <img src="<%= j.logo %>" width="90" height="90">
      <h3><%= j.title %></h3>
      <a href="<%= j.l_url %>"  target="_blank"><button type="button" class="btn btn-primary">Apply</button></a>
      <p><strong><%= j.company %> </strong><br/>
      <%= j.location %> <br/>
       Requires expertise in one or more of the following: <span class="badge badge-light"><%= j.skills %></span>  <br/>
      <br/>
      <%= j.description %>
      <br/>
      <br/>
      <hr>
      <br/>

   <!-- increment until 10 and BREAK if i == 10 (FREE USERS) -->
   <% i += 1 %>
   <% break if i == 5 %>
<% end %>
</div>

<div class="free-vs-premium">
   <h3>Want to see more internships? Sign up for free or upgrade to premium for a one time charge of $5.00. </h3>
   <br/>
   <br/>
   <div class="container card-rows">
  <div class="col-sm-5" id="free">
    <div class="card">
      <div class="card-body">
         <strong><h4>Free</h4></strong>
         <h4>$0.00</h4>
         <hr>
         <br/>
         <ul>
           <li class="premium-benefits"> Create account </li>
           <li class="premium-benefits"> View top 15 internships </li>
           <li class="free-benefits"> Customize profile </li>
           <li class="free-benefits"> View internships based on your skills </li>
           <li class="free-benefits"> View internships based on your preferred location </li>
          </ul>
          <br/>
          <hr>
        <a href="#" class="btn btn-free card-btn hvr-fade"><strong>GET FREE</strong></a>
      </div>
    </div>
  </div>
  <br/>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <strong><h4>Premium</h4></strong>
        <h4>$5.00</h4>
        <hr>
        <br/>
        <ul>
          <li class="premium-benefits"> Create account </li>
          <li class="premium-benefits"> View all internships in the database </li>
          <li class="premium-benefits"> Customize profile </li>
          <li class="premium-benefits"> View internships based on your skills </li>
          <li class="premium-benefits"> View internships based on your preferred location </li>
         </ul>
         <br/>
         <hr>
        <a href="/user/upgrade" class="btn btn-premium card-btn hvr-fade"><strong>GET PREMIUM</strong></a>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
