<div class="jumbotron">
   <br/>
   <br/>
   <br/>
     <% if current_user %>
     <br/>
     <h1 class="animated slideInDown"> Hi <%= current_user.full_name %> </h1>
     <p>Find dozens of internships tailored just for you.</p>
     <br/>
     <br/>
        <div class="wave-signed-in" style="background-image:url(/images/wave.png); background-size: 50% 85px;"></div>
     <br/>
     <br/>
    <% else %>
      <br/>
      <h1><strong>SWESHIPS</strong></h1>
      <p>Designed to help software engineering students<br/>
          find their next greatest opportunity.<br/>
      </p>
      <br/>
      <br/>
      <br/>
         <div class="wave" style="background-image:url(/images/wave.png); background-size: 50% 85px;"></div>
    </div>
   <% end %>
  </div>
</div>
<div class="about">
   <div class="about-one">
      <img src="/images/code.png" alt="symbol">
   </div>
   <div class="about-two">
      <h2>Finding an internship is hard, but it doesn't have to be. </h2>
      <p>
         Many Computer Science and Computer Engineering students reach difficulty in finding internship
         opportunities that fit their skills; many of us don't know how to search for them, don't know if we are suitable for the position,
         or spend an insurmountable time searching through listings that aren't relevant to
         our skillset.
         <br/>
         <br/>
         To solve this problem, we've created Sweships, a web application designed for CS/CE students
         pursuing job opportunities in Software Engineering. Sweships works
         with an algorithm that matches internship postings with a student based on their
         skills and qualifications. Our service allows users to create a profile, customize
         their account with skills and programming languages they're most experienced with,
         and view internships from 300+ listings in our database that are most relevant to
         their skillset.
         <br/>
         <br/>
         Not looking for an internship? We've added a collection of additional resources including tuition scholarships,
         diversity conference scholarships, and other events that will be helpful to students interested in networking or expanding their skillset.
         Have more questions? Check out our FAQ page or <a href="mailto:sweships@gmail.com?Subject=Hello%20again" target="_top">say hello</a> and we'll get back to you as soon as possible.
      </p>
   </div>
</div>

<div class="listings">
   <hr>
   <br/>
   <br/>
   <br/>
   <h2>Latest job postings</h2>
   <br/>
   <br/>
   <% i = 0 %>  <!-- variable for looping through internships 10 times (FREE USERS) -->

   <% @lastings.each do |j| %>
      <img src="<%= j.logo %>" width="110" height="110">
      <h3><%= j.title %></h3>
      <a href="<%= j.l_url %>"  target="_blank"><button type="button" class="btn btn-primary">Apply</button></a>
      <h5><strong><%= j.company %> </strong><br/>
      <%= j.location %> <br/>
      </h5>
      <p>
      Internship term: <span class="badge badge-pill badge-secondary"><%= j.term %></span> <br/>
      Requires expertise in one or more of the following: <span class="badge badge-light"><%= j.skills %></span>  <br/> <br/>
      <%= j.description %>
      <br/>
      <br/>
      <br/>
      <hr>
      <br/>
   <!-- increment until 5 for index page -->
   <% i += 1 %>
   <% break if i == 5 %>
<% end %>
</div>

<br/>
<br/>
