<div class="listings">
   <br/>
   <br/>
   <h2>Internships</h2>
   <br/>
   <br/>
   <% @lastings.each do |j| %>
      <img src="<%= j.logo %>" width="110" height="110">
      <h3><%= j.title %></h3>
      <button type="button" class="btn btn-primary"><a href="<%= j.l_url %>">Apply Now</a></button>
      <p><%= j.company %> </p>
      <p><%= j.location %> </p>
      <p><%= j.description %> </p>
   <br/>
   <% end %>
   <br/>
   <br/>
   <br/>
   <br/>
</div>
