<h2>Internships</h2>
<% @lastings.each do |j| %>
<h3><%= j.title %></h3>
<p><%= j.logo %> </p>
<p><%= j.description %> </p>
<p><%= j.l_url %> </p>
<p><%= j.location %> </p>
<p><%= j.company %> </p>
<% end %>
<br/>
<br/>
<br/>
